<div class="dropdown mt-3">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Colourful
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Colourful</a></li>
    <li><a class="dropdown-item" href="#">Bright</a></li>
    <li><a class="dropdown-item" href="#">Muted</a></li>
    <li><a class="dropdown-item" href="#">Deep</a></li>
    <li><a class="dropdown-item" href="#">Dark</a></li>
  </ul>
</div>
